{% load static %}

<script src="{% static 'js/jquery-2.2.4.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/owl.carousel.min.js' %}"></script>
<script src="{% static 'js/wow.min.js' %}"></script>
<script src="{% static 'js/scrollIt.min.js' %}"></script>
<script src="{% static 'js/waypoints.min.js' %}"></script>
<script src="{% static 'js/jquery.counterup.min.js' %}"></script>
<script src="{% static 'js/morphext.min.js' %}"></script>
<script src="{% static 'js/parallaxie.js' %}"></script>
<script src="{% static 'js/particles.min.js' %}"></script>
<script src="{% static 'js/setting.js' %}"></script>
<script src="{% static 'js/custom.js' %}"></script>
<!-- Style Switcher
           ================================================== -->
<script src="{% static 'js/switcher.js' %}"></script>