{% load static %} {% load render_partial %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    {% block heads %} {% endblock %}
  
  <meta name="description" content="this is our resume BackPy" />
  <meta name="author" content="Marwa El-Manawy <marwa@elmanawy.info>" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  {% include 'shared/_HeaderReferences.html' %}
</head>
<body>
  {% render_partial 'header' %}
  {% block content %}{% endblock %}
  {% render_partial 'footer' %} 
  {% include 'shared/_FooterReferences.html' %}
</body>
</html>