{% load static %}

<!--Start Header Area-->
<header>
<div class="body-overlay"></div>
<div id="loader-wrapper">
  <div id="loader"></div>
  <div class="loader-section section-left"></div>
  <div class="loader-section section-right"></div>
</div>
  <div class="header-container">
    <div class="demo-navber">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-6">
            <div class="demo-logo">
                                    <a class="navbar-brand" href="#"><img src="{{setting.logo.url}}" alt="logo" class="img-responsive"> <i class="fa fa-circle"></i></a>
                                </div>
          </div>
          <div class="col-xs-6">
            <div class="demo-button">
              <i class="fa fa-bars" aria-hidden="true"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="navber-area">
      <nav class="navbar">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="navbar-header">
                <button
                  type="button"
                  class="navbar-toggle collapsed"
                  data-toggle="collapse"
                  data-target="#bs-example-navbar-collapse-1"
                  aria-expanded="false"
                >
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <div class="logo">
                <br/>
                  <a href="#" class="footer-logo"><img src="{{setting.logo.url}}" alt="logo" class="img-responsive">
          <i class="fa fa-circle"></i></a>
                </div>
              </div>
              <ul class="menu-sidebar pull-right">
                <li class="marv-share">
                  <div class="slideouticons">
                    <input type="checkbox" id="togglebox" />
                    <label for="togglebox" class="mainlabel">
                    <i class="fa fa-share-alt"></i>
                    </label>
                    <div class="iconswrapper">
                      <ul style="color: black;">
                      {% for item in share_us %}
                      {% if item.active == True %}
                      <li>
                        <a href="{{ item.link }}" data-tooltip="{{ item.title }}">
                          <i class="fab fa-{{ item.title }} fa-lg"></i>
                        </a>
                      </li>
                      {% endif %}
                      {% endfor %}
                      </ul>
                    </div>
                  </div>
                </li>
              </ul>
              <div
                class="collapse navbar-collapse nav-menu pull-right"
                id="bs-example-navbar-collapse-1"
              >
                <div class="nav-close-button">
                  <i class="fa fa-times" aria-hidden="true"></i>
                </div>
                <ul class="nav navbar-nav">
                  <li><a href="#" data-scroll-nav="0">خانه</a></li>
                  <li><a href="#" data-scroll-nav="1">درباره ما</a></li>
                  <li><a href="#" data-scroll-nav="2">خدمات</a></li>
                  <li><a href="#" data-scroll-nav="3">نمونه‌کارها</a></li>
                  <li><a href="#" data-scroll-nav="4">مشتری‌ها</a></li>
                  <li><a href="#" data-scroll-nav="5">تیم ما</a></li>
                  <li><a href="#" data-scroll-nav="6">مقالات</a></li>
                  {% comment %} <li><a href="#" data-scroll-nav="7">تعرفه‌ها</a></li> {% endcomment %}
                  <li><a href="#" data-scroll-nav="8">تماس با ما</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </div>
  </div>
</header>
